.cell {
  border-radius: 10px;
  color: black;
  padding: 5px 0;
  margin: 0;
  box-shadow: none;
  border: none;
  width: 100%;
  height: 100%;
  transform: scale(1.0);
  filter: brightness(100%);
  transition:
    background-color 300ms ease-in-out,
    filter 200ms ease-in-out 100ms,
    transform 100ms ease-in-out,
    border-radius 100ms ease-in-out;
}

.cell:active {
  transform: scale(0.95);
  filter: brightness(90%);
  border-radius: 12px;
  transition:
    filter 100ms ease-in-out,
    transform 100ms ease-in-out,
    border-radius 100ms ease-in-out;
}

.unselected {
  background-color: palegoldenrod;
}

.selected {
  background-color: plum;
}

.cell p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 366;
  font-style: normal;
  font-size: clamp(0.5rem, 2vw, 0.9rem);
  margin: 0;
  padding: 0.3em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.2;
}