@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Tagesschrift&family=Tangerine:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  background-image: url('/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: slategray
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  backdrop-filter: blur(7px);
  touch-action: none;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

main h3 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  letter-spacing: min(1rem, 8%);
  color:#DD0D0D;
  text-shadow: 0px 1px 3px #770707;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 18vw);
  grid-template-rows: repeat(6, 12vh);
  grid-auto-flow: row;
  padding: 10px;
}

.bingo-board h1 {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #FF0F0F;
  text-shadow: 0px 1px 3px #770707;
}

@media only screen and (max-width: 768px) {
  main h3 {
    font-size: 8vw;
  }

  .bingo-board {
    gap: 5px;
    padding: 10px;
  }

  .bingo-board h1 {
    font-size: 20vw;
  }
}

@media only screen and (min-width: 769px) {
  main h3 {
    font-size: 4rem;
  }

  .bingo-board {
    gap: 10px;
  }

  .bingo-board h1 {
    font-size: 5.5rem;
  }
}